section.footer-index
    .container
        .row
            .col-6.footer-index_left-block
                .footer-index_left-block_items
                    .footer-index_left-block_item
                        ul
                            li Главная
                            li Компания
                            li Доставка
                            li Акции
                            li Контакты
                    .footer-index_left-block_item
                        ul
                            li Кровати металлические
                            li Комплектующие
                            li Матрасы
                            li Постельное бельё
                            li Постельные комплекты
            .col-6.footer-index_right-block
                .footer-index_right-block_contacts
                    p.address Москва, Михалковская ул. д. 48, корп 2, офис 4
                    .phone
                        .icon-phone <i class="fab fa-whatsapp"></i> <i class="fab fa-viber"></i>
                            a(href="+79255501265") +7 925 550-12-65
                        .icon-phone
                            a(href="tel:+74993945986") +7 499 394-59-86
                        .icon-phone
                            a(href="+79267265383") +7 926 726-53-83
                .footer-index_right-block_time-work
                    p.text Режим работы:
                    p.text Пн - Чт: 9.00-18.00 <br>Пятница.: 9.00 -17.00 <br>Сб - Вс: выходной
                .footer-index_right-block_social
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>