section.catalog
    .vertical-line
    h2.title-2 Каталог
    .container.p-0
        .catalog_items
            .catalog_item
                .catalog_item_img-wrapper
                    img(data-src="img/index/catalog/final.png" alt="catalog-1").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a(href="#") Одеяла
                            li
                                a(href="#") Подушки
                            li
                                a(href="#") Постельное бельё
                            li
                                a(href="#") Постельные комплекты
                            li
                                a(href="#") Пледы
                            li
                                a(href="#") Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(data-src="img/index/catalog/final.png" alt="catalog-1").lazyload
                .catalog_item_text
                    p.text Постельные принадлежности
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a(href="#") Одеяла
                            li
                                a(href="#") Подушки
                            li
                                a(href="#") Постельное бельё
                            li
                                a(href="#") Постельные комплекты
                            li
                                a(href="#") Пледы
                            li
                                a(href="#") Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(data-src="img/index/catalog/Layer_15.jpg" alt="catalog-2").lazyload
                .catalog_item_text
                    p.text Мебель ДСП
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a(href="#") Одеяла
                            li
                                a(href="#") Подушки
                            li
                                a(href="#") Постельное бельё
                            li
                                a(href="#") Постельные комплекты
                            li
                                a(href="#") Пледы
                            li
                                a(href="#") Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(data-src="img/index/catalog/Layer_16.jpg" alt="catalog-3").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a(href="#") Одеяла
                            li
                                a(href="#") Подушки
                            li
                                a(href="#") Постельное бельё
                            li
                                a(href="#") Постельные комплекты
                            li
                                a(href="#") Пледы
                            li
                                a(href="#") Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(data-src="img/index/catalog/Layer_17.jpg" alt="catalog-4").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(data-src="img/index/catalog/Layer_18.jpg" alt="catalog-5").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог

section.special-offer
    .vertical-line
    .container-fluid
        .container
            h2.title-2 Специальное предложение
            .goods-slider
                - for (var x = 0; x < 9; x++)
                    div
                        .goods-slider_item
                            .icon-slider-sale
                            .goods-slider_top-text
                                a(href="#")
                                    .goods-slider_top-text_title Кровать металлическая
                                    .goods-slider_top-text_intro-title двухъярусная Эконом
                            .goods-slider_img
                                a(href="#")
                                    img(data-src="img/index/slider-goods/2.png" alt="good").lazyload
                            .goods-slider_price
                                p.old-price от <span>1200</span> <i class="fas fa-ruble-sign"></i>
                                p.main-price от <span>960</span> <i class="fas fa-ruble-sign"></i>
                            .goods-slider_description
                                p основание: труба 40х20 мм сварная сетка - ячейки 100x100
                                .goods-slider_description_hiden
                                    p спинка: ЛДСП 16 мм
                                    p соединение болтовое
                                    p два усилителя
                            .goods-slider_controls
                                p Опт от
                                input.counter(type="text" value="10" placeholder="10")
                                .goods-slider_controls_counter
                                    button.btn-plus
                                    button.btn-minus
                                button.btn.btn-dark-red.shop

section.advantages
    .container
        h2.title-2 Наши преимущества
        .advantages_items
            .advantages_item
                .advantages_item_icon
                    img(data-src="img/index/advantages/1.png" alt="advantages-1").lazyload
                .advantages_item_text
                    p Первые на рынке
            .advantages_item
                .advantages_item_icon
                    img(data-src="img/index/advantages/2.png" alt="advantages-2").lazyload
                .advantages_item_text
                    p Качественная мебель
            .advantages_item
                .advantages_item_icon
                    img(data-src="img/index/advantages/3.png" alt="advantages-3").lazyload
                .advantages_item_text
                    p Консультация специалиста
            .advantages_item
                .advantages_item_icon
                    img(data-src="img/index/advantages/4.png" alt="advantages-4").lazyload
                .advantages_item_text
                    p Цены от производителя
            .advantages_item
                .advantages_item_icon
                    img(data-src="img/index/advantages/5.png" alt="advantages-5").lazyload
                .advantages_item_text
                    p Своя служба доставки
            .advantages_item
                .advantages_item_icon
                    img(data-src="img/index/advantages/6.png" alt="advantages-6").lazyload
                .advantages_item_text
                    p Широкий ассортимент

section.popular
    .vertical-line
    .container
        h2.title-2 Хиты продаж
        .goods-slider
            - for (var x = 0; x < 9; x++)
                div
                    .goods-slider_item
                        .icon-slider-sale
                        .goods-slider_top-text
                            a(href="#")
                                .goods-slider_top-text_title Кровать металлическая
                                .goods-slider_top-text_intro-title двухъярусная Эконом
                        .goods-slider_img
                            a(href="#")
                                img(data-src="img/index/slider-goods/2.png" alt="good").lazyload
                        .goods-slider_price
                            p.old-price от <span>1200</span> <i class="fas fa-ruble-sign"></i>
                            p.main-price от <span>960</span> <i class="fas fa-ruble-sign"></i>
                        .goods-slider_description
                            p основание: труба 40х20 мм сварная сетка - ячейки 100x100
                            .goods-slider_description_hiden
                                p спинка: ЛДСП 16 мм
                                p соединение болтовое
                                p два усилителя
                        .goods-slider_controls
                            p Опт от
                            input.counter(type="text" value="10" placeholder="10")
                            .goods-slider_controls_counter
                                button.btn-plus
                                button.btn-minus
                            button.btn.btn-dark-red.shop

section.feedback
    .vertical-line
    .container
        h2.title-2 Обратная связь
        form(method="post" name="feedback")#feedback.row
            .col-12.col-md-4.offset-md-2.feedback_left-block
                p.text Вы может отправить в форму свой вопрос и консультанты свяжуться с вами в ближайшее время.
                p.text Или позвоните по номеру: +7 925 550-12-65
                label
                    input#af_processing.checkbox(type='checkbox', required)
                    span.checkbox-custom
                    span.px-2.label(for='checkbox') Я согласен с условиями <a class="link-def" href="#">обработки персональных данных</a>

            .col-12.col-md-4.feedback_right-block
                form
                    .form-group
                        input(type="text" name="name" placeholder="Имя")#name.form-control
                        input(type="text" name="phone" placeholder="Телефон")#phone.form-control
                        input(type="text" name="email" placeholder="E-mail")#email.form-control
                        textarea(name="message" rows="3" placeholder="Сообщение")#message.form-control
                        button.btn.btn-dark-red Отправить








