section.delivery
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Доставка
            .col-12
                h1.title-2.mx-auto Доставка
            .col-8.offset-2.container-list
                .container-list_items
                    .container-list_item
                        .container-list_item_img
                            img(src="img/delivery/icon-1.png")
                        p.container-list_item_text
                            | Доставка на следующий день возможна только при заказе товара до <strong>13:00</strong>.
                            | Доставка осуществляется по Москве и Московской области с <strong>10-00 по 23-00</strong> по пути следования маршрута автотранспорта. Доставка в другие регионы рассчитывается индивидуально менеджером при подтверждении заказа. Возможен довоз заказа до транспортной компании, занимающейся перевозкой грузов по России.
                            | Для вашего удобства - дополнительная услуга «Доставка по времени» (только по Москве):
                    .container-list_item
                        .container-list_item_img
                            img(src="img/delivery/icon-2.png")
                        .container-list_item_text
                            ol
                                li Доставка с <strong>10.00 до 14.00 + 300 руб.</strong>
                                li Доставка с <strong>14.00 до 23.00 + 300 руб.</strong>
                                li Доставка в оговоренный 2-часовой интервал <strong>+ 1000 руб.</strong>
                    .container-list_item
                        .container-list_item_img
                            img(src="img/delivery/icon-3.png")
                        p.container-list_item_text
                            | Доставка по Москве <strong>1500 р</strong> (в пределах МКАД)
                            | Доставка за МКАД <strong>1500 р</strong> плюс 35 р/км
                            | При покупке от <strong>30 000р.</strong>Доставка по Москве - <strong>БЕСПЛАТНО!!!</strong>
                            | Доставка по М.О по договоренности.
                            | Доставка по России — любой транспортной компанией. www.pecom.ru www.dellin.ru и другие ТК.
                            | При заказе от <strong>30 000 р.</strong>Мы бесплатно доставим товар до транспортной компании.
                            | Доставка по г. Москва и М.О осуществляется до подъезда.
                    .container-list_item
                        .container-list_item_img
                            img(src="img/delivery/icon-4.png")
                        p.container-list_item_text
                            | Доставка на следующий день возможна только при заказе товара до 13:00.
                            | Доставка осуществляется по Москве и Московской области с 10-00 по 23-00 по пути следования маршрута автотранспорта. Доставка в другие регионы рассчитывается индивидуально менеджером при подтверждении заказа. Возможен довоз заказа до транспортной компании, занимающейся перевозкой грузов по России.
                            | Для вашего удобства - дополнительная услуга «Доставка по времени» (только по Москве):


