section.catalog
    h2.title-2 Каталог
    .container
        .catalog_items
            .catalog_item
                .catalog_item_img-wrapper
                    img(src="img/index/catalog/final.png" alt="catalog-1").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(src="img/index/catalog/final.png" alt="catalog-1").lazyload
                .catalog_item_text
                    p.text Постельные принадлежности
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(src="img/index/catalog/Layer_15.jpg" alt="catalog-2").lazyload
                .catalog_item_text
                    p.text Мебель ДСП
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(src="img/index/catalog/Layer_16.jpg" alt="catalog-3").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(src="img/index/catalog/Layer_17.jpg" alt="catalog-4").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог
            .catalog_item
                .catalog_item_img-wrapper
                    img(src="img/index/catalog/Layer_18.jpg" alt="catalog-5").lazyload
                .catalog_item_text
                    p.text Кровати металлические
                .catalog_item_hover.animated.flipInY
                    .catalog_item_hover_title
                        p Постельные принадлежности
                    .catalog_item_hover_categoris
                        ul
                            li
                                a Одеяла
                            li
                                a Подушки
                            li
                                a Постельное бельё
                            li
                                a Постельные комплекты
                            li
                                a Пледы
                            li
                                a Покрывала
                    .catalog_item_hover_button
                        a(href="").btn.btn-white Перейти в каталог

section.special-offer
    .container
        h2.title-2 Специальное предложение
        .goods-slider
            - for (var x = 0; x < 4; x++)
                div
                    .goods-slider_item.animated
                        .goods-slider_top-text
                            .goods-slider_top-text_title Кровать металлическая
                            .goods-slider_top-text_intro-title двухъярусная Эконом
                        .goods-slider_img
                            img(src="img/index/slider-goods/2.png" alt="good").lazyload
                        .goods-slider_price
                            p.old-price от <span>1200</span>
                            p.main-price от <span>960</span>
                        .goods-slider_description
                            p основание: труба 40х20 мм сварная сетка - ячейки 100x100
                        .goods-slider_controls
                            p Опт от
                            input.counter(type="text")
                            button.btn.btn-dark-red

section.advantages
    .container
        h2.title-2 Наши преимущества
        .advantages_items
            .advantages_item
                .advantages_item_icon
                    img(src="img/index/advantages/1.png" alt="advantages-1")
                .advantages_item_text
                    p Первые на рынке
            .advantages_item
                .advantages_item_icon
                    img(src="img/index/advantages/2.png" alt="advantages-2")
                .advantages_item_text
                    p Качественная мебель
            .advantages_item
                .advantages_item_icon
                    img(src="img/index/advantages/3.png" alt="advantages-3")
                .advantages_item_text
                    p Консультация специалиста
            .advantages_item
                .advantages_item_icon
                    img(src="img/index/advantages/4.png" alt="advantages-4")
                .advantages_item_text
                    p Цены от производителя
            .advantages_item
                .advantages_item_icon
                    img(src="img/index/advantages/5.png" alt="advantages-5")
                .advantages_item_text
                    p Своя служба доставки
            .advantages_item
                .advantages_item_icon
                    img(src="img/index/advantages/6.png" alt="advantages-6")
                .advantages_item_text
                    p Широкий ассортимент

section.sale
    .container
        h2.title-2 Хиты продаж
        .goods-slider
            div
                - for (var x = 0; x < 4; x++)
                .goods-slider_item.animated
                    .goods-slider_top-text
                        .goods-slider_top-text_title Кровать металлическая
                        .goods-slider_top-text_intro-title двухъярусная Эконом
                    .goods-slider_img
                        img(src="img/index/slider-goods/2.png" alt="good").lazyload
                    .goods-slider_price
                        p.old-price от <span>1200</span>
                        p.main-price от <span>960</span>
                    .goods-slider_description
                        p основание: труба 40х20 мм сварная сетка - ячейки 100x100
                    .goods-slider_controls
                        p Опт от
                        input.counter(type="text")
                        button.btn.btn-dark-red

section.feedback
    .container
        h2.title-2 Обратная связь
        form(method="post" name="feedback")#feedback.row
            .col-6.feedback_left-block
                p.text Вы может отправить в форму свой вопрос и консультанты свяжуться с вами в ближайшее время.
                p.text Или позвоните по номеру: +7 925 550-12-65
                lable
                    input.checkbox(type="checkbox" required)
                    span.checkbox-custom
                    p.label(for="checkbox") Я согласен с условиями <a class="link-def">обработки персональных данных</a>
            .col-6.feedback_right-block
                input(type="text" name="name")#name
                input(type="text" name="phone")#phone
                input(type="text" name="email")#email
                textarea(name="message" rows="3")#message
                button.btn.btn-dark-red








