section.card-goods
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Карточка товара
            h1.title-1 Карточка товара
