//MAIN
.main-index {
  background-color: #f1f6f9;
}
.catalog .container {
  background-color: white;
}
.catalog_items {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}
.catalog_item {
  position: relative;
  flex: 0 1 33%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog_item_img-wrapper img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
.catalog_item .text {
  font-size: 23px;
  font-weight: 300;
  line-height: 26px;
  color: #384955;
  text-align: center;
}
.catalog_item_img-wrapper {
  padding: 45px 0;
}
.catalog_item_text {
  padding-bottom: 65px;
}
.catalog_item_hover {
  display: none;
  background-color: $dark-red;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  &_title {
    position: relative;
    font-size: 23px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 70px;
  }
  &_title:before {
    content: "";
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
  }
  &_categoris ul {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0;
    padding: 0 45px;
  }
  &_categoris li {
    flex: 1 1 50%;
    padding: 10px;
  }
  &_button .btn-white {
    color: #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 37px;
  }
}
.catalog_item:hover .catalog_item_hover {
  display: flex;
}
.catalog_item:hover .catalog_item_img-wrapper,
.catalog_item:hover .catalog_item_text {
  display: none;
}
.btn-white {
  color: #050505;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  background-color: #fff;
  border-radius: 3px;
  margin: 25px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  //transition: box-shadow 0.3s ease-in-out;
}
.btn-white:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.title-2 {
  color: #384955;
  font-size: 36px;
  font-weight: 300;
  //line-height: 26px;
  text-align: center;
  padding: 55px 0;
}
.special-offer {
  margin-top: 96px;
}
.special-offer .container {
  background-color: #fff;
}
.goods-slider_item {
  display: flex;
  flex-direction: column;
}
.goods-slider_top-text {
  color: #384955;
  &_title {
    font-size: 20px;
    font-weight: 400;
  }
  &_intro-title {
    font-size: 17px;
    font-weight: 300;
  }
}
.goods-slider_img {
  width: 100%;
  height: auto;
  img {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.goods-slider_price {
  display: flex;
  justify-content: space-around;
  color: #686868;
}
.old-price {
  display: inline-block;
  position: relative;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 700;
  //text-decoration: line-through;
  span {
    font-size: 21px;
    font-weight: 700;
  }
}
.main-price {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  span {
    color: #7b5265;
    font-size: 27px;
    font-weight: 700;
  }
}
.goods-slider_description {
  color: #646464;
  font-size: 15px;
  font-weight: 300;
}
.goods-slider_controls {

  p {
    display: inline-block;
  }
  input {
    display: inline-block;
    //border: none;
    width: 47px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
    opacity: 0.2;
  }
}
.slider-sale {

}
.btn-dark-red.shop {
  position: relative;
  padding: 15px;
  background-color: $dark-red;
  border-radius: 5px;
}
.btn-dark-red.shop:hover {
  background-color: #424c54;
}
.btn-dark-red.shop::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07a";
  color: #fff;
  position: absolute;
  top: 4px;
  left: 5px;
}
.btn-plus::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f106";
}
.btn-minus::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
}
.old-price::before {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 52%;
  background-color: #6b6b6b;
  color: #6b6b6b;
  opacity: 0.5;
}


.advantages {
  background-color: rgba(63, 74, 82, 0.96);
  color: #fff;
  padding: 93px 0 130px;
  .title-2 {
    color: #fff;
  }
}
.advantages_items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.advantages_item {
  flex: 1 1 33%;
  display: flex;
  &_icon {
    flex: 1 1 25%;
    img {
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }
  &_text {
    flex: 1 1 75%;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
}
