// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) {
//  .features_img {
//    display: none;
//  }
// }
//@include media-breakpoint-up(xl) {
//  .features_img {
//    display: block;
//  }
//}

//MY Media

