.footer .right-block {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.footer .btn {
  color: #0b0b0b;
  padding: 7px 35px;
  margin: 50px auto 0;
  order: 2;
}
.footer-info {
  margin: 55px 0 25px;
}